body{
    font-family: roboto, arial, sans-serif;
    text-align: center;
    background-color: lightcyan;
}

header, footer{
    background-color: steelblue;
    color: white;
    padding: 10px;
}

article{
    padding-top: 40px;
    margin: 1%;
}
@media (min-width: 700px){
    article{
        width: 30%;
    }

}

@media (min-width: 800px) {
    main {
        display: flex; 
    }
    article {
        width: 30%;
    }
}

@media (max-width: 799px) {
    article {
        width: 98%;  
    }
}

.first{
    background-color: DodgerBlue;
}

.second{
    background-color:  LimeGreen;
}

.third{
    background-color:  DarkOrchid;
}

img{
    width: 70%;
}
p{
    padding: 20px;
}

table{
    border: 1px solid steelblue;
    margin: auto;   
    width: 70%;
}
tr:hover{
    background-color: steelblue;
    color: white;
}