div{
 text-align: center;
 background-color: bisque;
 margin: 10em;
 padding: 1em;
 font-family: 'Courier New', Courier, monospace;
 font-size: 30px;
 border: 2.5px solid black;
}

#div2{
    margin: auto;
    text-align: center;
    background-color: bisque;
    width: 230px;
    height: 200px;
    border: 2.5px solid black;
   }