* {
    font-family: Helvetica;
}

body {
    background-color: LightSalmon;
    text-align: center;
    margin: 0;
}


main {
    display: block;
    float: left;
    width: 30%;
}


header {
    display: block;
}


img {
    width: 100%;
    display: block;
}


#left-top {
    
    height: 400px;
    
}

#left-bottom {
    height: 100px;
    background-color: DarkSalmon;
   
}

#right {
    width: 70%;
    height: 500px;
    background-color: DarkSalmon;
    float: left;
    overflow: auto;
}

h4 {
    margin: 0;
    padding: 22px;
}

p{
    margin: 0;
}
