.czerwony {
      background-color: red;
      height: 100px;
      width: 200px;
      margin-top: 20px;
      margin-right: 50px;
      margin-bottom: 10px;
      margin-left: 30px;
    }

    .niebieski {
      background-color: blue;
      height: 100px;
      width: 200px;
      margin-top: 40px;
      margin-right: 20px;
      margin-bottom: 30px;
      margin-left: 60px;
    }

    .zielony {
      background-color: green;
      height: 100px;
      width: 200px;
      margin-top: 20px;
      margin-right: auto;
      margin-bottom: 20px;
      margin-left: auto;
    }


    .box1 ,.box2, .box3, .box4 {
    width: 200px;
    height: 100px;
    background-color: rgb(224, 117, 117);
    margin-bottom: 20px;
  }

  .box1 {
    margin: 40px;
  }

  .box2 {
    margin: 20px 60px;
  }

  .box3 {
    margin: 10px 50px 30px;
  }

  .box4 {
    margin: 5px 20px 10px 40px;
  }

  .normal {
    width: 300px;
    height: 100px;
    background-color: rgb(71, 110, 122);
    margin-bottom: px;
  }

  .negative {
    width: 300px;
    height: 100px;
    background-color: rgb(128, 94, 81);
    margin-top: -30px;
}
.centered {
    width: 300px;
    background-color: rgb(7, 163, 7);
    height: 100px;
    margin: auto;
  }

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: bisque;
}
a{
    text-decoration: none;
    color: green;
}